<style>
  .notePosts {
    padding: 10px;
    margin: 20px;
  }

  .note {
  }

  .title {

  }

  .body {

  }

  .date {

  }
</style>
<div>
  <a href="#!/create/note" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New</a>
</div>
<div ng-controller="NotesCtrl">
  <div class="notePosts">
    <div ng-repeat="note in notes" class="note">
      <h2 class="title"><a ng-href="/#!/note/{{note._id}}">{{note.title}}</a></h2>
      <small class="date"><span class="glyphicon glyphicon-time"></span>
        {{monthInString[note.date.month - 1]}} {{note.date.day}}, {{note.date.year}}
      </small>
      <p class="body">{{note.body}}</p>
      <hr/>
    </div>
  </div>
</div>
